body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  background-color: #333;
}

#title {
  font-size: 1.6em;
  text-align: center;
}

.bck-to-top {
  color: lightblue;
}

.menu_title {
  font-size: 1.5em;
  text-align: center;
  text-indent: 0;
}

.menu-content {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #3E722B;
  font-size: 1em;
  text-indent: 20px;
}

#header-nav {
  background-color: #3f3e3c;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Website's name */
  font-family: 'Lora', serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .5;
  font-size: 1.8em;
  vertical-align: middle;
}
.navbar-brand a, .navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background-color: #3E722B;
  transition: 0.3s;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #3E722B;
}

.navbar-header button.navbar-toggle {
  clear:both;
}
